<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="ernest" translate="label" sortOrder="1">
            <label>Ernest</label>
        </tab>
        <section id="content" sortOrder="2" showInWebsite="0" showInStore="0" showInDefault="1" translate="label">
            <label>Content</label>
            <tab>ernest</tab>
            <resource>Ernest_DummyContent::ernest</resource>
            <group id="about" sortOrder="3" showInWebsite="0" showInStore="0" showInDefault="1" translate="label">
                <label>About Me</label>
                <field id="title" type="text" sortOrder="10" showInWebsite="0" showInStore="0" showInDefault="1"
                       translate="label">
                    <label>Title</label>
                </field>
                <field id="description" type="text" sortOrder="10" showInWebsite="0" showInStore="0" showInDefault="1"
                       translate="label">
                    <label>Description</label>
                </field>
                <field id="image_path" type="text" sortOrder="10" showInWebsite="0" showInStore="0" showInDefault="1"
                       translate="label">
                    <label>Image path</label>
                </field>
            </group>
        </section>
    </system>
</config>
